{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [chat]}
]}.

{relx, [
    {release, {chat, "0.1.0"}, [kernel, stdlib, sasl, chat]},
    {dev_mode, true}
]}.

{profiles, [
  {test, [
    {src_dirs, ["src"]},
    {cover_enabled, true},
    {erl_opts, [export_all]}
  ]}
]}.
